  {% put scripts %}
      {% partial "scripts" %}
      <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $("#sidebar-nav").metisMenu();
        $("select").selecter();
        $(document).ready(function(){
          $('.navbar-twitch [data-toggle="tooltip"]').tooltip();
        });
        $('.selecter.open').ready(function(){
          $('.selecter.open').removeClass('focus bottom open').addClass('focus top open');
        });
        $(document).click( function(event){
          event.preventDefault();
        });
        $('.subnav').perfectScrollbar();
      </script>
    {% endput %}
  </body>
  </html>