  {% put scripts %}
      {% partial "scripts" %}
      <!--<script>
        $("#sidebar-nav").metisMenu();
        $("select").selecter({
          customClass: "sortVideoSelect"
        });
        $('.selecter.open').ready(function(){
          $('.selecter.open').removeClass('focus bottom open').addClass('focus top open');
        });
        /*$(document).click( function(event){
          event.preventDefault();
        });*/
        $(document).ready(function() {
            $('#video-list').DataTable({
              "searching": false,
              "paging": false,
              "info": false,
              "columnDefs": [ { "sortable": false, "targets": 0 } ]
            });
        } );
      </script>-->
    {% endput %}
  </body>
  </html>