description = "Default footer part"
==
    {% if( this.page.id == 'dashboard') or (this.page.id == 'dashboard-beta') %}

    {% else %}
      {% partial "footer-links" %}
    {% endif %}
    {% put scripts %}
      {% partial "scripts" %}
      <script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
        $("#sidebar-nav").metisMenu();
        $(document).ready(function () {
          $('.navbar-twitch [data-toggle="tooltip"]').tooltip();
        })
      </script>
    {% endput %}
  </body>
  </html>