{% if "account" in this.page.id %}
  <link href="{{ 'assets/css/account-styles.css'|theme }}" rel="stylesheet">
{% else %}
  <link href="{{ 'assets/css/simple-sidebar.css'|theme }}" rel="stylesheet">
  <link href="{{ 'assets/css/metisMenu.css'|theme }}" rel="stylesheet">
  <link href="{{ 'assets/css/perfect-scrollbar.min.css'|theme }}" rel="stylesheet">
{% endif %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css'|theme }}" crossorigin="anonymous">
    <link href="//cdn.datatables.net/1.10.10/css/responsive.dataTables.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.10.10/css/responsive.bootstrap.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="{{ 'assets/css/mricon.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/bootflat.custom.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->